<template>
  <v-container id="persons" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Pessoas</div>

            <div class="subtitle-1 font-weight-light">
              Listagem de pessoas cadastradas
            </div>
          </template>
          <br />
          <v-row justify="space-between">
            <v-col cols="1"> </v-col>
            <v-col cols="5">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Pesquisar"
                hide-details
                color="secondary"
              >
              </v-text-field>
            </v-col>
            <v-col cols="2"> </v-col>
          </v-row>

          <v-data-table
            :headers="headers"
            :items="persons"
            :loading="loading"
            loading-text="Carregando..."
            :search="search"
            class="elevation-1"
            :items-per-page="5"
          >
            <template v-slot:[`item.acoes`]="{ item }">
              <v-icon
                size="20"
                class="mr-2"
                color="info"
                title="Clique para EDITAR esse registro"
                @click="editItem(item)"
              >
                mdi-pencil
              </v-icon>
              <v-icon
                size="20"
                color="red"
                title="Clique para EXCLUIR esse registro"
                @click="deleteItem(item)"
              >
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </base-material-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialogDelete" max-width="600px">
      <v-card>
        <v-card-title class="headline"
          >Você realmente quer deletar esse registro?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"> Não </v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm()"> Sim </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>

    <v-dialog v-model="dialog" max-width="800px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="6" v-if="editedItem.pessoa_fisica">
                <v-text-field v-model="editedItem.first_name" label="Nome"></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6" v-if="!editedItem.pessoa_fisica">
                <v-text-field
                  v-model="editedItem.first_name"
                  label="Nome Empesarial"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="editedItem.last_name"
                  label="Sobrenome"
                  v-if="editedItem.pessoa_fisica"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="3" md="3">
                <v-text-field v-model="editedItem.phone" label="Telefone"></v-text-field>
              </v-col>
              <v-col cols="12" sm="3" md="3">
                <v-text-field
                  v-if="editedItem.pessoa_fisica"
                  v-model="editedItem.cpf"
                  label="CPF"
                ></v-text-field>
                <v-text-field
                  v-if="!editedItem.pessoa_fisica"
                  v-model="editedItem.cnpj"
                  label="CNPJ"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field v-model="editedItem.email" label="E-mail"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close"> Cancel </v-btn>
          <v-btn color="blue darken-1" text @click="update"> Update </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import PersonController from "../../../app/controllers/PersonController";

export default {
  data: () => ({
    loading: false,
    dialog: false,
    dialogDelete: false,
    notification: false,
    typeAlert: "success",
    message: "",
    search: "",
    persons: [],
    defaultItem: {
      first_name: "",
      last_name: "",
      email: "",
      phone: "",
      pessoa_fisica: true,
      cpf: "",
      cnpj: "",
    },
    editedItem: {},
    editedIndex: -1,
    controller: new PersonController(),
    headers: [
      {
        text: "Nome Completo",
        value: "fullname",
      },
      {
        text: "E-mail",
        value: "email",
      },
      {
        text: "Telefone",
        value: "phone",
      },
      {
        text: "CPF/CNPJ",
        value: "cpf/cnpj",
      },
      {
        text: "Ações",
        value: "acoes",
      },
    ],
  }),
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  created() {
    this.getDataFromApi();
  },
  computed: {
    formTitle() {
      return this.editedItem.pessoa_fisica
        ? "Editar Pessoa Física"
        : "Editar Pessoa Jurídica";
    },
  },
  methods: {
    getDataFromApi() {
      this.loading = true;
      this.controller.getAll().then((response) => {
        if (response.data) {
          for (let i = 0; i < response.data.length; i++) {
            let element = response.data[i];
            if (element["pessoa_fisica"]) {
              response.data[i]["fullname"] =
                response.data[i]["first_name"] + " " + response.data[i]["last_name"];
              response.data[i]["cpf/cnpj"] = response.data[i]["cpf"];
            } else {
              response.data[i]["fullname"] = response.data[i]["first_name"];
              response.data[i]["cpf/cnpj"] = response.data[i]["cnpj"];
            }
          }
          this.persons = response.data;
        }
      });
      this.loading = false;
    },

    editItem(item) {
      this.editedIndex = this.persons.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      console.log(fullname);
    },

    deleteItem(item) {
      this.editedIndex = this.persons.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.loading = true;
      this.persons.splice(this.editedItem, 1);
      this.typeAlert = "info";
      this.message = "Pessoa removida com sucesso!";
      this.notification = true;
      this.dialogDelete = false;
      this.loading = false;
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    update() {
      if (this.editedIndex > -1) {
        Object.assign(this.persons[this.editedIndex], this.editedItem);
      }
      this.close();
    },
  },
};
</script>
