<template>
  <v-container id="person-register" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Pessoa</div>
            <div class="subtitle-1 font-weight-light">Cadastro de pessoa</div>
          </template>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="6" md="6">
                  <v-checkbox v-model="pessoa_fisica" :label="`Pessoa Física?`">
                  </v-checkbox>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6" md="6">
                  <v-text-field
                    color="secondary"
                    v-model="person.first_name"
                    :counter="100"
                    label="Nome *"
                    hint="Informe seu nome"
                    :rules="[controller.service.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col cols="6" md="6">
                  <v-text-field
                    color="secondary"
                    v-model="person.last_name"
                    :counter="100"
                    label="Sobrenome *"
                    hint="Informe seu sobrenome"
                    :rules="[controller.service.rules.required]"
                    v-if="pessoa_fisica"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="5" md="5">
                  <v-text-field
                    color="secondary"
                    v-model="person.email"
                    :counter="100"
                    label="E-mail *"
                    hint="Informe seu endereço de e-mail"
                    :rules="[controller.service.rules.emailRules]"
                  ></v-text-field>
                </v-col>
                <v-col cols="3" md="3">
                  <v-text-field
                    color="secondary"
                    v-model="person.phone"
                    v-mask="controller.service.maskTel(person.phone)"
                    placeholder="(99) 99999-9999 ou (99) 9999-9999"
                    :counter="15"
                    label="Telefone *"
                    hint="Informe um telefone de contato"
                    :rules="[controller.service.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col cols="4" md="4">
                  <v-text-field
                    color="secondary"
                    v-model="person.cpf"
                    v-mask="controller.service.maskCPF_CNPJ(person.cpf)"
                    :counter="14"
                    label="CPF *"
                    hint="Informe seu CPF"
                    :rules="[controller.service.rules.required]"
                    v-if="pessoa_fisica"
                  ></v-text-field>
                  <v-text-field
                    color="secondary"
                    v-model="person.cnpj"
                    v-mask="controller.service.maskCPF_CNPJ(person.cnpj)"
                    :counter="18"
                    label="CNPJ *"
                    hint="Informe o CNPJ"
                    :rules="[controller.service.rules.required]"
                    v-if="!pessoa_fisica"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row justify="space-between">
                <v-btn color="orange" @click="voltar">Cancelar</v-btn>
                <v-progress-circular
                  indeterminate
                  color="secondary"
                  v-if="loading"
                ></v-progress-circular>
                <v-btn :disabled="!valid || loading" color="info" @click="register">
                  registrar
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import PersonController from "../../../app/controllers/PersonController";

export default {
  name: "person-register",
  data: () => ({
    valid: true,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    controller: new PersonController(),
    pessoa_fisica: true,
    person: new PersonController().personModel(),
  }),
  watch: {
    pessoa_fisica: {
      immediate: true,
      handler(newValue, oldValue) {
        this.person.pessoa_fisica = newValue;
      },
    },
  },
  methods: {
    voltar() {
      this.$router.go(-1);
    },
    register() {
      this.loading = true;
      this.controller.register(this.person).then((response) => {
        if (response.statusCode === 201) {
          this.message = "Pessoa cadastrada com sucesso.";
          this.typeAlert = "info";
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao cadastrar a pessoa.";
        }
        this.notification = true;
        this.loading = false;
        setTimeout(() => this.$router.replace({ name: "persons" }), 2000);
      });
    },
  },
};
</script>
